/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My code starts here!!! */

a:link {
    color: #B3B3B3;
    text-decoration: none;

  }

  a:visited {
    color: #B3B3B3;
  }

  a:hover {
    color: #595959;
    text-decoration: underline;
  }

  a:active {
    color: #595959;
  }





  @font-face{
    font-family: 'NeueBit';
    src: url('PPNeueBit-Bold.otf') format('truetype');
    font-weight: 700;
 }

 h1 {
  font-family: "Press Start 2p", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #595959;
  line-height: 120%;
}

h2 {
    font-family: "Press Start 2p", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: #595959;
    line-height: 120%;
  }

h3 {
    font-family: "Press Start 2p", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: #595959;
    display: inline;
  }

body {
    font-family: "Epilogue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    color: #595959;
    line-height: 125%;
    display: inline;
    min-height: 100vh;

  }


main {
    /* background: #feb200; */
    /* margin is outside element */
    padding-top: 3rem;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 3rem;
    
    /* padding is inside element */
  }
  div.afooter1 {
    display: inline-block;
    position: fixed;
    bottom: 2rem;
  }

  div.footer1 {
    display: inline-block;
    padding-left: 6rem;
    width: 72.5%;
  }
  div.footer2 {
    display: inline-block;
  }
  nav {
    /* background: #87ceeb; */
    position: fixed;
    width: 100%;
  }

  nav ul li {
    display: inline-block;
    padding-right: 5rem;

  }

  /* nav a {
    padding-right: 5rem;
  } */

  div.fixbr {
    height: 25vh;
  }

  div.hugebr {
    height: 25vh;
  }
  

  div.bigbr {
    height: 2rem;
  }

  div.smallbr {
    height: 1rem;
  }

  div.thumbnail-br {
    height: 5rem;
  }
  img.arrow {
    max-width: 3rem;
    position: absolute;
    left: 47%;
  }


  div.gallery {
    display: flex;
    align-items: left;
  }

    img.thumbnail {
    max-width: 75%;
    height: auto;
    margin-right: 1rem;

    }

    img.welcome {
      left: 50%;
	    margin-left: -50vw;
	    margin-right: -50vw;
	    max-width: 100vw;
	    position: relative;
	    right: 50%;
      
    }

    img.meat {
      max-width: 100%;
    }

    

    img.meat2 {
      display: block;
      max-width: 100%;
      height: 500px;
      margin-bottom: 1rem;

    }


    img.profile {
      max-width: 20vh;
      display: inline-block;
    }

    div.welcome-description {
      max-width: 30rem;
      display: inline-block;
      margin-right: 12rem;
    }

    div.meat {
      max-width: 41rem;
    }

    div.meat2 {
      column-count: 2;
      column-gap: none;
      margin: 0;
      max-width: 100%;
    }

   
    div.thumbnail-description {
    max-width: 40vh;
    }

    /* a.miyamoto-anchor :hover {
        color: red;
        text-decoration: underline;
      }
      a.spoken-anchor :hover {
        color: #D5A52E;
        text-decoration: underline;
      }
     */

    div.welcome-container {
      display: inline-block;

    }

    div.welcome-fact {
    display: inline-block;
    }

     div.about {
      max-width: 70vh;
      display: inline-block;

     }

     b.italic {
      font-style: italic;
     }
  
  .widget ul li {
    display: inline-block
  }

  .widget a {
    padding-right: 2rem;
  }

  .youtube-video {
    aspect-ratio: 16/9;
    width: 100%;
  }

  .stuffs {
    position: absolute;
    left: 46.5%;
  }

  img.more {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  div.more {
    column-count: 3;
    column-gap: none;
    margin: 0;
    max-width: 100%;
  }

  div.bigmore {
    column-count: 1;
    column-gap: none;
    margin: 0;
    max-width: 100%;
  }

  div.smallmore {
    column-count: 2;
    column-gap: none;
    margin: 0;
    max-width: 100%;
  }

/* mobile adjustments begin here: */
  @media screen and (max-width: 600px) {

    main {
      padding:1.5rem;
    }

    nav ul li {
      display: inline-block;
      justify-content: space-between;
      padding-right: 2.5rem;
      
    }

    h1 {
      font-size: 12pt;
    }

    h2 {
      font-size: 25pt;
    }

    h3 {
      font-size: 8pt;
    }
    
    body {
      font-size: 10pt;
    }
    div.stuff {
      padding-bottom: 1rem;
    }

    div.about {
      max-width: 45vh;
      right: 0;
    }

    div.fixbr {
      height: 17vh;
    }
    div.hugebr {
      height: 18vh;
    }

    div.smallbr {
      height: .5rem;
    }
    
    div.bigbr {
      height: 1rem;
    }

    div.thumbnail-br {
      height: 3rem;
    }
    
    img.arrow {
      max-width: 1rem;
    }

    
    img.thumbnail {
      max-width: 100%;
      margin-bottom: .5rem;
    }

    img.welcome {
      display: block;
      max-width: 100%;    
    }

    img.profile {
      max-width: 45vh;
    }

    div.gallery {
      display: block;
    }

    div.thumbnail-description {
      max-width: 100%;
    }
  
    .br {
      display: none;
    }
    footer {
      left: 1.5rem;
      position: relative;
      bottom: 2rem;
    }
    
    div.welcome-description: {
      margin-right: none;
    }1

    
    div.welcome-container {
      max-width: 100%;
    }

    img.welcome {
      max-width: 100%;
      margin-bottom: .5rem;
    }

    img.more {
      display: block;
      max-width: 100%;
      height: auto;
      margin-bottom: 1rem;
    }
  
    div.more {
      column-count: 2;
      column-gap: none;
      margin: 0;
      max-width: 100%;
    }
  
    div.footer1 {
      display: inline-block;
      padding-left: 1.5rem;
    }
  
    div.afooter1 {
      bottom: 1rem;
    }
  
  }
