/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, img {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My code starts here!!! */




.browser-bar {
  background: #eee;
  padding: 2px 16px;
  font-family: sans-serif;
  font-size: 13px;
  display: flex;
  align-items: center;
  height: 36px;
}

.circles {
  display: flex;
  gap: 6px;
}

.circles span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.red { background: #f25f58; }
.yellow { background: #fdbc40; }
.green { background: #34c84a; }

.url {
  margin-left: 12px;
  color: #888;
  font-family: 'DM Sans', sans-serif;
}

.mockup-wrapper {
  background-color: #5CBBFF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  border-radius: 5px;
  position: relative;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.browser-mockup {
  border-radius: 5px;
  overflow: hidden;
  background: white;
  width: 100%;
  height: 100%;
  position: relative;
}

.browser-mockup video {
  width: 100%;
  height: calc(100% - 40px);
  object-fit: cover;
}


/* Start of type-specific styles */

  a:link {
      color: #969696;
      text-decoration: none;
      text-decoration: none;
    
      /* letter-spacing:   -1px; */
    }

    a:visited {
      color: #969696;
    }

    a:hover {
      color: #37ABFF;
      /* text-decoration: underline; */
      text-decoration-color: #FF51CC;
      letter-spacing:  normal;
    }

    a:active {
      color: #B9E2FF;
    }

    a.message:link {
      color: #B9E2FF;
    }


    @font-face {
      font-family: "offbit";
      src: url("fonts/OffBit-101Bold.woff2") format('woff2');
      font-weight: bold;
    }

    @font-face {
      font-family: "offdot";
      src: url("fonts/OffBit-DotBold.woff2") format('woff2');
      font-weight: bold;
    }
    
    @font-face {
      font-family: "offdot";
      src: url("fonts/OffBit-DotBold.woff2") format('woff2');
      font-weight: bold;
    }
    
    @font-face {
      font-family: 'ppmori-regular';
      src: url('fonts/PPMori-Regular.woff2') format('woff2');
      font-weight: 100;
  }

  @font-face {
    font-family: 'ppmori-regular-italic';
    src: url('fonts/PPMori-RegularItalic.woff2') format('woff2');
    font-weight: 100;
  }

  @font-face {
    font-family: 'ppmori-bold';
    src: url('fonts/PPMori-Bold.woff2') format('woff2');
    font-weight: 100;
  }

  h1 {
    font-family: "offbit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    line-height: 80%;
    display: inline;
  }

  h2 {
    font-family: "ppmori-semibold", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    display: inline;
    line-height: 130%;
    color: #303030;
  }

  h3 {
    font-family: "ppmori-regular", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: block;
    line-height: 140%;
  }


  h4 {
    font-family: "ppmori-regular", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    display: inline;
    line-height: 140%;
    color: #303030;
  }

  h5 {
    font-family: "offbit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #5CBBFF;
    line-height: 110%;
  }

  h6 {
    font-family: "offbit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    color: #5CBBFF;
    line-height: 100%;
  }

  body {
      font-family: "ppmori-regular", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      color: #303030;
      line-height: 150%;
      display: inline;
      min-height: 100vh;
    }

    button {
      font-family: "ppmori-regular", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      line-height: 125%;
      display: inline;
      border: none;
      background: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
      outline: none;
    }

    bold-body {
    font-family: "ppmori-bold", sans-serif;
    font-weight: 800;
    font-style: bold;
    font-size: 18px;
    display: inline;
    }

    bold-h4 {
      font-family: "ppmori-bold", sans-serif;
      font-weight: 800;
      font-style: bold;
      font-size: 25px;
      color: black;
      line-height: 125%;
      display: inline;
      min-height: 100vh;
    }

    
/* end of type-specific styles. */


/* universal containers */
main {
    margin-top: 0rem;
    margin-bottom: 3rem;
    position: relative;
    max-width: calc(2000px - 2rem);
    margin-left: auto;
    margin-right: auto;
    padding-right: 11rem;
    padding-left: 11rem;
  }

.index-main {
    margin-top: 0rem;
    margin-bottom: 3rem;
    position: relative;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10rem;
    padding-left: 10rem;
  }


.intro {
    margin-top: 0rem;
    margin-bottom: 1rem;
    position: relative;
    max-width: calc(2000px - 2rem);
    margin-left: auto;
    margin-right: auto;
    padding-right: 11rem;
    padding-left: 11rem;
  }

  header {
    /* max-width: 1605px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3rem;
    position: relative; */

    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    /* padding-bottom: 3rem; */
    position: relative;
    height: 0;
  }


  .nav-outer {
    width: 100%;
    background-color: white;
    border-bottom: 2px solid #F0F0F0;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    padding: 0.8rem 0;
  }

  .nav-inner {
    padding-left:11rem;
    padding-right:11rem;
    max-width: calc(2000px - 2rem);
    margin-left: auto;
    margin-right: auto;
    
  }

  .nav-buttons {
    display: flex;
    align-items: center;
    gap: .8rem;
  }

  .nav-button {
    text-decoration: none;
    display: flex; 
    align-items: center;
    padding-top: .6rem;
    padding-bottom: .4rem;
    border-radius: 5px;
    padding-left: .75rem;
    padding-right: .75rem;
    background-color: #F0F0F0;
  }

  .project-buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .project-buttons a:hover {
    color: #37ABFF;
  }
  


  .special-buttons {
    display: flex;
    align-items: center;
    gap: .8rem;
    padding-right: .8rem;
    border-right: 1px solid #E0E0E0;
    margin-right: .8rem;
  }

  .nav-button,
  .nav-button h1,
  .nav-button button {
    color: #969696;
  }

  .nav-button:hover,
  .nav-button:hover h1,
  .nav-button:hover * {
    background-color: #37ABFF;
    color: white;
    
  }

  .nav-button.active,
  .nav-button.active h1,
  .nav-button.active * {
    background-color: #37ABFF;
    color: white;
  }

  footer {
    position: relative;
    bottom: 2rem;
  }
/* base containers end */


/* Image/video containers */

a.gallery-anchor {
  padding: 1rem;
  display: block;
  border-radius: 5px;
  text-decoration: none;
}

a.gallery-anchor body {
  color: #303030;
}

a.gallery-anchor:hover {
  background-color: #F0F0F0;
}

a.gallery-anchor:hover h3 {
  color: #37ABFF;
}
  

img.project {
  max-height: 40vw;
  max-width: 100%;
  display: block;
  margin: auto;
  border-radius: 5px;
  
}

div.image-gallery {
  max-width: 100%;
}

div.dion-walking {
  max-width: auto;
  bottom: 0;
  max-height: 40vw;
  text-align: center;
}

.smol {
  max-width: 75px;
  height: auto;
  display: block;
  margin: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: 6rem;
}

img.full-content {
  max-width: 100%;
  height: auto;
}

  img.welcome {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    position: relative;
  }

  img.more {
    display: block;
    width: 100%;
    height: auto;
  }

  .youtube-video {
    aspect-ratio: 16/9;
    width: 100%;
    border-radius: 8px;
  }

  video {
    object-fit: fill;
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }

  /* .inner-box img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Adjust to 'contain' if you want to fit the image inside */

  /* img.profile {
  max-width: 20vh;
  display: inline-block;
} */

  /* img.thumbnail {
  max-width: 75%;
  height: auto;
  margin-right: 1rem;
  }  */

  /* img.meat {
    max-width: 100%;
  }

  img.meat2 {
    display: block;
    max-width: 100%;
    height: 500px;
    margin-bottom: 1rem;
  } */

  /* Image/video containers end */


 
  
/* Index containers */
    div.project-descriptions {
    text-align: center;
    text-justify: inter-word;
    display: block;
    margin: auto;
    }
/* Index container end */


/* Gallery containers */
div.smallmore {
  column-count: 2;
  column-gap: none;
  margin: 0;
  max-width: 100%;
}

div.welcome-container {
  display: flex;
  justify-content: space-between; /* Distributes space between flex items */
  box-sizing: border-box;
  gap: 2rem;
}

div.welcome-box1 {
  flex: 2; 
  max-width: 50%;
}

div.welcome-box2 {
  flex: 2; /* Each box will grow equally to fill available space */
  max-width: 50%;
}

div.project-container {
  display: flex;
  box-sizing: border-box;

}

div.project-box1 {
  flex: 2; 
  max-width: 50%;
}

div.project-box2 {
  flex: 2; /* Each box will grow equally to fill available space */
  max-width: 50%;
}

.quick-facts_outer-container {
  display: flex;
}
.quick-facts_container {
  flex: 1;
  max-width: 33%;
  text-align: left;
  /* border: 1px solid #000; */
}
/* Gallery container end */


/* All br's */
  div.hugebr {
    height: 10rem;
    pointer-events: none;
  }

  div.bigbr {
    height: 5rem;
    pointer-events: none;
  }

  div.smallbr {
    height: 1rem;
  }
  div.tinybr {
    height: .5rem;
  }

  div.specialbr {
    height: 25vh;
    pointer-events: none;
  }

  br.mobile-break { 
    height: 0;
    display: none; 
  }

/* End of br's */
  


 
  /* laptop adjustments */

  

/* MOBILE ADJUSTMENTS START HERE: */
  @media screen and (max-width: 600px) {


  
/* TYPE ADJUSTMENTS */
  h1 {
    font-size: 20pt;
  }

  h2 {
    font-family: "ppmori-bold", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    display: inline;
    line-height: 150%;
  }

  h3 {
    font-family: "ppmori-regular", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    /* display: inline; */
  }

  h4 {
    font-family: "ppmori-regular", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 125%;
    display: inline;
    min-height: 100vh;
  }

  h5 {
    font-family: "offbit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: #5CBBFF;
    line-height: 110%;
  }

  a:link {
    color: #5CBBFF;
    text-decoration: underline;
    text-decoration-color: #B9E2FF;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; 
    letter-spacing: 0;
  }

  a:visited {
    color: #5CBBFF;
    text-decoration: underline;
    text-decoration-color: #B9E2FF;
  }

  a:hover {
    color: #5CBBFF;
    /* text-decoration: underline; */
    text-decoration-color: #5CBBFF;
    letter-spacing:  normal;
  }

  a:active {
    color: #5CBBFF;
    text-decoration: underline;
    text-decoration-color: #B9E2FF;
  }

  a.message:link {
    color: #5CBBFF;
    text-decoration: underline;
    text-decoration-color: #B9E2FF;
  }



/* CONTAINTER ADJUSTMENTS */
    main {
      padding:1.5rem;
    }

    nav_project {
      padding-top: .75rem;
      width: calc(100% - 3rem); /* Adjust width based on the margin (left and right) */
      position: fixed;
      z-index: 3;
      background-color: white;
      padding-bottom: .5rem;
      

      border-width: 0;
      border-bottom-width: 2px;
      border-style: solid;
      border-color:#5CBBFF;
      box-sizing: border-box;
      left: 1.5rem;
      right: 0;
    }

    header {
      margin-left: 0;
      margin-right: 0;
      /* padding-bottom: 0; */
      position: relative;
      overflow: hidden;
      box-sizing: border-box; 

    }

    nav {
      margin-top: 4rem;
      padding-left: 0;
      width: calc(100% - 7.8rem); /* Adjust width based on the margin (left and right) */
    }

    footer {
      width: calc(100% - 3rem);
      margin: 0 auto; /* Centers the element */
      padding-bottom: 0;
      position: relative;
      overflow: hidden;
      box-sizing: border-box;
    }

    div.welcome-container {
      display: block;
      justify-content: space-between; /* Distributes space between flex items */
      box-sizing: border-box;
      height: auto;
    }

    div.welcome-box1 {
      flex: 10; /* Each box will grow equally to fill available space */
      max-width: 100%;
      padding-right: 0;
      height: auto;
    }
    div.welcome-box2 {
      flex: ; /* Each box will grow equally to fill available space */
      max-width: 100%;
      margin-right: 0;
      height: auto;
    }
  

/* BREAK ADJUSTMENTS */
    div.hugebr {
      height: 10vh;
    }

    div.specialbr {
      height: 30vh;
      pointer-events: none;
    }

    div.special-mirco-br {
      height: 1rem;
      pointer-events: none;
    }

    br.mobile-break { 
      height: 0;
      display: inline; 
    }

/* IMAGE ADJUSTMENTS */
    img.project {
      max-width: 100%;
      max-height: 100%;
      height: auto;
      max-height: ;
      display: block;
      margin: 0 auto;
    }

    img.welcome {
      max-width: 100%;
      height: auto;
      left: 0;
      right: 0;
      margin: 0;
      margin-top: 3.5rem;
    }
  

    /* end of 12182024 edits */

    

    

   
    
    body {
      font-size: 10pt;
    }
    div.stuff {
      padding-bottom: 1rem;
    }

    div.about {
      max-width: 45vh;
      right: 0;
    }

    div.fixbr {
      height: 17vh;
    }
    
    div.smallbr {
      height: .5rem;
    }
    
    div.bigbr {
      height: 1rem;
    }

    div.thumbnail-br {
      height: 3rem;
    }
    
    
    
    img.thumbnail {
      max-width: 100%;
      margin-bottom: .5rem;
    }

    img.welcome {
      display: block;
      max-width: 100%;    
    }

    img.profile {
      max-width: 45vh;
    }

    div.gallery {
      display: block;
      
    }

    div.thumbnail-description {
      max-width: 100%;
    }
  
    .br {
      display: none;
    }
  
    
    div.welcome-description: {
      margin-right: none;
    }1

    
    div.welcome-container {
      max-width: 100%;
    }

    img.welcome {
      max-width: 100%;
      margin-bottom: .5rem;
    }

    img.more {
      display: block;
      max-width: 100%;
      height: auto;
      margin-bottom: 1rem;
    }
  
    div.more {
      column-count: 2;
      column-gap: none;
      margin: 0;
      max-width: 100%;
    }
  
    
    div.smallmore {
      column-count: 1;
      column-gap: none;
      margin: 0;
      max-width: 100%;
    }
  
  
  }

.text-break {
  display: block;
  height: 0.75rem;
}

.secondary-text {
  color: #969696;
}

.secondary-text a {
  color: #37ABFF;
}

.secondary-text a:hover {
  color: #37ABFF;
  text-decoration: underline;
}

.secondary-text a:visited {
  color: #37ABFF;
}

hr {
  border: none;
  border-top: 2px solid #F0F0F0;
  margin: 0;
}

.image-gallery {
  margin-bottom: 0;
  padding-bottom: 0;
  width: 100%;
}

a:hover h2 {
  color: #37ABFF;
}


